.tile.is-ancestor {
    margin: 0rem;
}

.tile.is-child {
    background-color: white;
}

.tile.is-child.box {
    box-shadow: initial;
}

.subtitle {
    color: #7d7575;
}

.image-gallery-svg {
    width: 20px !important;
    height: 60px;
}

.content>h4 {    
    color: #a9a0a0;
    font-size: 1.10rem;
}
.content>h4>span {
    text-decoration: line-through;
}

.content>h5 {
    color: #f35216;
}
.content>h5>span {
    font-size: 1.85rem;
}

.por-price {
    background-color: #dfdfdf;
    padding-right: 5px;
    width: max-content;
}

.por-price>h1 {
    color: #7d7575;
}

.send-method {
    font-size: medium;
    color: #7d7575;
}

.send-method>p>i {
    color: #f35216;
}

.pay {
    display: flex;
    align-items: center;
}

.pay>a {
    background-color: #f35216;
    color: white;
}
.pay>a:hover {
    color: white;
}

.pay>span {
    margin-left: 1.5rem;
    color: #7d7575;
}

.pay>span>i {
    color: #7d7575;
}

.description {
    color: #7d7575;
}

.description>p>strong {
    color: #f35216;
}