.detail.tile.is-ancestor {    
    margin: 0rem;
    .tile.is-parent {
        .tile.is-child.box {
            box-shadow: initial;
            .subtitle {
                color: $is-grey;
            }            
            .content {
                h4 {
                    color: $is-grey;
                    font-size: 1.10rem;
                    span {
                        text-decoration: line-through;
                    }
                };
                h5 {
                    color: $darken-orange;
                    span {
                        font-size: 1.85rem; 
                    }
                };
                .price {
                    background-color: #dfdfdf;
                    padding-right: 5px;
                    width: max-content;
                    h1 {
                        color: $is-grey;
                    }
                };
                .pay {
                    display: flex;
                    align-items: center;
                    a {
                        background-color: $darken-orange;
                        color: $is-white;
                        &:hover {
                            color: $is-white;
                        }
                    };
                    span {
                        margin-left: 1.5rem;
                        color: $is-grey;
                        i {
                            color: $is-grey;
                        }
                    }
                };
                .send-method {
                    font-size: medium;
                    color: $is-grey;
                    p i {
                        color: $darken-orange;
                    }
                };
                .description {
                    color: $is-grey;
                    p strong {
                        color: $darken-orange;
                    }
                }
            }
        }
    }   
}