.home {
    &__features {
        padding: 0rem;
    };
    &__hero-body {
        background-color: $is-white;
        padding: 10px 0 30px 0;        
        &__shift {
            max-width: 1000px;
            h2 {
                color: $is-orange;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.125;
                margin-bottom: 2rem;
            };
            .image img {
                height: 12rem;
            };
            .tile.is-child {
                padding: 1rem;
                background-color: #ffb778;    
            };
            @media only screen and (max-width: $mobile) {
                max-width: 400px;
                h2 {
                    font-size: 1.65rem;
                    margin: 0.8rem 0rem;
                }
                .tile.is-child {
                    padding: 0.65rem;
                    background-color: #ffb778;    
                };                
            };             
        };
    };    
}