.user {
    &__profile {
        background-color: #f98a2066;
        border-radius: 10px;
        width: 60%;
        height: 80%;
        padding: 3rem;
        margin: 1% auto;
        color: white;
        h1 {
            color: $white;
        };
        form {
            label {
                color: $white;
            };
            .control {
                margin-bottom: 5px;
            };
            .field.is-grouped {
                justify-content: flex-end;
                .control {
                    .is-link{
                        background: $is-orange;
                    }
                };
                @media only screen and (max-width: $mobile-up) {
                    justify-content: center;                    
                }
            }
        };
        @media only screen and (max-width: $mobile-up) {            
            border-radius: 10px;
            width: 90%;
            padding: 1rem;
            margin: 10% auto;            
        }
    }
}