.card-login .card-body h1 {
    color: coral;
    font-size: 1.5rem;
}

.btn-login {
    background-color: var(--bg-orange);
    color: white;
}

.btn-login:hover {
    background-color: #f56d13;
    color: white;
}

.card-login {
    margin: auto;
    width: 35rem;
    border: 2px solid rgba(90, 0, 0, .300);
    border-radius: 1.25rem;
}