aside.logo {
    background-color: var(--bg-danger);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

aside.logo img {
    padding: 25px 25px;
    width: 100%;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}