footer.footer {
    position: fixed;
    bottom: 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
    background-color: #FFF;
    box-shadow: var(--shadow);
    padding: 1rem;
}

@media screen and (max-width: 600) {
    footer.footer {
        position: relative;
    }
}