footer.footer {
    position: relative;
    bottom: 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
    background-color: rgb(3, 3, 3);
    box-shadow: var(--shadow);
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    footer.footer {        
        margin-top: 2rem;        
    }
}