.card {
    margin-bottom: 2.5rem;
    &__image {
        .image a {
            cursor: pointer;
            img {
                &:hover {
                    opacity: 0.5;
                }
            }
        };        
    };
    &__content {
        padding: 1.5rem;
        .media {
            .media-content {
                text-align: center;
                .title {
                    font-size: 1.5rem;
                };
            };  
        };                
        .content {
            font-size: 0.9rem;
            margin: 1rem 1rem;
        }
        .button {
            border-color: $is-orange;
            color: $is-orange;
            &:hover {
                background-color: $is-orange;
                color: $is-white;
            }
        }
    }
    @media(max-width: 576px) {        
        max-width: 95%;
        margin: 0.85rem auto;   
    }
}