.hero-baner {
    width: 100%;
    margin-bottom: 40px;
    text-align:center;
    align-items: center;
    padding:0;
    border:0 none;
    h1 {
        position:absolute;
        z-index:1;
        top:33%;
        left: 30%;   
        color: #ffffff;    
    };
    h4 {
        position:absolute;
        z-index:1;
        top:45%;
        left: 25%;
        color: #ffffff;   
    };
    @media only screen and (max-width: 600px) {
        .title {
            display: none;
        }    
        .hero-img {
            height: 180px;        
        }
    }
}



 