.item-cart-pay {
    .item-pay {
        p {
            color: $is-grey;            
        };
        .item-image {
            max-width: 60%;
        };
        .notification {
            &.hidden {
                display: none;
                &.is-pay {
                    display: block;
                    padding: 10px;
                    background-color: $is-orange;
                    color: #ffffff; 
                };
            };            
        }
    };
};




