.hero.nav-hero {
    background-color: #fbb77a;        
    width: 100%;
    .navbar-item {
        img {
          max-height: 3rem;  
        };
        
    };
    .is-drop {
        height: 30px;
        i {
            font-size: 2.5em;
            color: rgb(255, 255, 255);
            cursor: pointer;
        };        
    };
    .is-boxed {
        top: calc(100% + (5px));
        width: 14rem;
        .userprofile {
            margin-bottom: -1.35rem;
            .avatar {
                width: 30%;
                display: inline-block;
                float: left;
                margin-bottom: 1rem;
                i {
                    margin-right: 20px;                    
                    font-size: 3em;
                    color: #ff922f;
                };
            };
            .user {
                width: 70%;
                display: inline-block;
                float: left;
                padding-left: 0.65rem;
            };
        }; 
    };
    .navbar-end {
        .button.is-text.is-nav {
            text-decoration: none;
            color: rgb(255, 255, 255);
            border: none;
            &:hover {
                background: rgba(255, 255, 255, 0.24);
            }
        };
        .button.is-text.is-help {
            text-decoration: none;
            color: rgb(255, 255, 255);
            border: none;
            &:hover {
                background: rgba(255, 255, 255, 0.24);
            };
        };        
    };
    @media only screen and (max-width: $mobile-up){
        .navbar-burger {
            color: #ffffff;
            height: auto;
        };
        .navbar-end {
            .is-drop {
                display: none;
            };
            .is-boxed {
                width: auto;
                .userprofile {
                    margin-bottom: 4rem;
                    .avatar {
                        width: 20%;

                    };
                };
            };
            .button.is-text.is-nav {
                color: $is-orange;
            };
            .button.is-text.is-help {
                color: $is-orange;
            };
            .mb {
                display: none;
            }
        }
    };
}